<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col-6">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://18f.gsa.gov">
              {% asset 18f-logo.svg alt="18F logo" class="footer-logo__img footer-logo__18f" %}
            </a>

            <a class="footer-logo media_link" href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services">
              {% asset gsa-tts-identity.svg alt="GSA Technology Transformation Service logo" class="footer-logo__img footer-logo__tts" %}
            </a>

          </div>
        </div>
        <div class="tablet:grid-col-3">
          <ul class="add-list-reset">
            <li>Footer link</li>
            <li>Footer link</li>
            <li>Footer link</li>
          </ul>
        </div>
        <div class="tablet:grid-col-3">
          <ul class="add-list-reset">
            <li>Footer link</li>
            <li>Footer link</li>
            <li>Footer link</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
