// Import the US Web Design System SASS.
@import 'theme/styles';
@import "uswds";

// Add your SASS/CSS here

// default mode hide banner
.usa-banner__content {
  display: hidden;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}

/// Custom HTML adjustments

.footer-logo__img {
  vertical-align: top;
  height: 60px;
}

.footer-logo__18f {
  margin-top: 3px;
  height:52px;
}
