/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
*/

// -------------------------------------
// Import individual theme settings
@import "theme/uswds-theme-general";
@import "theme/uswds-theme-typography";
@import "theme/uswds-theme-spacing";
@import "theme/uswds-theme-color";
@import "theme/uswds-theme-utilities";
@import "theme/uswds-theme-components";

// -------------------------------------
// Import individual USWDS packages...
@import "scss/packages/required";
@import "overrides/all";
@import "scss/packages/global";

@import "scss/packages/uswds-components";
@import "scss/packages/uswds-utilities";

// -------------------------------------
// Import theme custom styles

// default mode hide banner
.usa-banner__content {
  display: hidden;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}
