/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
*/

// -------------------------------------
// Import individual theme settings
@import "theme/_uswds-theme-general.scss";
@import "theme/_uswds-theme-typography.scss";
@import "theme/_uswds-theme-spacing.scss";
@import "theme/_uswds-theme-color.scss";
@import "theme/_uswds-theme-utilities.scss";
@import "theme/_uswds-theme-components.scss";

// -------------------------------------
// Import individual USWDS packages...
@import '../../node_modules/uswds/dist/scss/uswds.scss';

/* 
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

.usa-banner__content {
  display: hidden;
}

@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}
 
@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}
