/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

//// HEADER

// Logo

.usa-logo__text {
  display: table-cell;
}

.usa-logo__text::before {
  background-image: asset_url('18f-logo.svg');
  background-size: cover;
  @include u-margin-right(1);
  height: 44px;
  width: 44px;
  display: inline-block;
  content: '';
}

.site-title {
  vertical-align: top;
  @include u-margin-top(2);
}

@include at-media(desktop) {
  .site-title {
    @include u-margin-top(0);
  }
}

// top navbar
.usa-header--extended .usa-current::after,
.usa-header--extended .usa-current:hover::after {
  @include u-bg('secondary');
  height: 0.25rem;
  @include u-text('ink');
}

//// FOOTER
.logo-links {
  display: table-cell;
}

.footer-logo {
  @include u-margin-right(2);
  text-decoration: none;
}

//// TYPOGRAPHY

// Headings
.usa-prose{
  h1,h2,h3,h4,h5,h6 {
    @include u-text('primary-darker');
  }
}

// prose

.usa-prose a {
  @include u-text($theme-link-color);
}

// Links

.usa-prose a {
  @include u-text('primary');
}

.usa-prose a:hover {
  @include u-text('primary-dark');
}

.usa-prose a:visited {
  @include u-text('violet-70v');
}

// Link hover

.usa-nav__primary > .usa-nav__primary-item > a:hover,
.usa-nav__primary .usa-nav__primary-item > a.usa-current {
  @include u-text('ink');
}

.usa-nav__primary > .usa-nav__primary-item > a:hover {
  @include u-bg('base-lightest');
}

.usa-nav__primary > .usa-nav__primary-item > a:hover::after {
  height: 0;
}

.usa-nav__primary > .usa-nav__primary-item > a.usa-current:hover::after{
  height: 0.25rem;
}

// Link focus

[href]:focus {
  @include u-outline-color('base');
  @include u-outline('2px');
  outline-style: dotted;
}

//// PAGE COMPONENTS

// Buttons
// .usa-button:hover {
//   @include u-bg('primary')
// }
//
// .usa-button:hover {
//   @include u-bg('primary-dark')
// }

.usa-button--secondary {
  @include u-text('primary-darker');
  @include u-bg('secondary')
}

.usa-button--secondary:hover{
  @include u-text('primary-darker');
  @include u-bg('secondary-light')
}

// Hero
.usa-hero__heading {
  color: white;
}

.usa-hero--no-image {
  background-image: none;
  @include u-bg('primary-darker');
}

.usa-hero--no-image .usa-hero__callout {
  padding-left: 0;
}

// Side Navigation
.usa-sidenav a {
  @include u-text('ink');
}

.usa-sidenav > .usa-sidenav__item {
  padding-left: 0;
}

.usa-sidenav .usa-current {
  @include u-text('ink');
}

.usa-sidenav .usa-current::after {
  @include u-bg('secondary');
  border-radius: 0;
  width: 0.5rem;
  top: 0;
  bottom: 0;
}

.usa-sidenav a:hover {
  color: inherit;
}

// Dark sections
.usa-section--dark h3 {
  @include u-text('secondary');
}
